:root {
	/* Light mode */
	--bg-color-light: #ecf4fa;
	--fg-color-light: #13171b;
	--header-color-light: #afd7fa;
	--header-fg-color-light: #161b25;
	--subnav-color-light: #87b6f5;
	--subnav-fg-color-light: #2a2f33;
	--button-color-light: #0039a6;
	--button-fg-color-light: #eeeeee;
	/* Dark options */
	--bg-color-dark: #1a1d20;
	--fg-color-dark: #dfe0e5;
	--header-color-dark: #2a3444;
	--header-fg-color-dark: #edf7ff;
	--subnav-color-dark: #1b242f;
	--subnav-fg-color-dark: #dde1f7;
	--button-color-dark: #3c7bcc;
	--button-fg-color-dark: #1a1f23;
	/* Root options */
	--root-font-size: 16px;
	--nav-border-radius: 18px;

	font-family: Exo, Helvetica, Arial, sans-serif;
	font-size: var(--root-font-size);
}

body {
	--bg-color: var(--bg-color-light);
	--fg-color: var(--fg-color-light);
	--header-color: var(--header-color-light);
	--header-fg-color: var(--header-fg-color-light);
	--subnav-color: var(--subnav-color-light);
	--subnav-fg-color: var(--subnav-fg-color-light);
	--button-color: var(--button-color-light);
	--button-fg-color: var(--button-fg-color-light);
	background-color: var(--bg-color);
	color: var(--fg-color);
	margin: auto;
}

@media (prefers-color-scheme: light) {
	body {
		--bg-color: var(--bg-color-dark, var(--bg-color-light));
		--fg-color: var(--fg-color-dark, var(--fg-color-light));
		--header-color: var(--header-color-dark, var(--header-color-light));
		--header-fg-color: var(--header-fg-color-dark, var(--header-fg-color-light));
		--subnav-color: var(--subnav-color-dark, var(--subnav-color-light));
		--subnav-fg-color: var(--subnav-fg-color-dark, var(--subnav-fg-color-light));
		--button-color: var(--button-color-dark, var(--button-color-light));
		--button-fg-color: var(--button-fg-color-dark, var(--button-fg-color-light));
	}
}

/* Website header */
#pw-header {
	display: flex;
	flex-flow: column wrap;
	gap: 0.1em;
	width: 100vw;
}

#pw-hero {
	min-height: 75px;
	display: flex;
	flex-direction: row wrap;
	place-content: center;
}

#pw-heading {
	padding: 0;
	margin: 0;
}

#pw-heading-link {
	display: block;
	padding: 10px 15px;
	text-align: center;
}

#pw-logo {
	height: 200px;
}

#pw-nav {
	position: relative;
	display: flex;
	flex-flow: row wrap;
}

#pw-nav-list {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	gap: 0.4em;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

#pw-nav-list > .pw-nav-item {
	font-size: 0.96em;
	font-weight: bold;
	text-transform: uppercase;
}

#pw-nav-list > .pw-nav-item > .pw-nav-link {
	color: inherit;
	display: block;
	padding: 14px 25px;
	text-decoration: none;
	transition: all 300ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	#pw-nav-list > .pw-nav-item > .pw-nav-link,
	#pw-nav-list .pw-subnav > .pw-subnav-list > .pw-subnav-item > .pw-subnav-link {
		transition: none;
	}
}

#pw-nav-list > .pw-nav-item:hover > .pw-nav-link {
	background-color: var(--header-color);
	border-radius: var(--nav-border-radius);
}

#pw-nav-list > .pw-nav-item:has(.pw-subnav):hover > .pw-nav-link {
	border-radius: var(--nav-border-radius) var(--nav-border-radius) 0 0;
}

#pw-nav-list > .pw-nav-item > .pw-subnav { 
	background-color: var(--header-color);
	display: none;
	padding: 0.25em 0;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100vw;
}

#pw-nav-list > .pw-nav-item:hover > .pw-subnav {
	display: flex;
}

#pw-nav-list .pw-subnav > .pw-subnav-list {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

#pw-nav-list .pw-subnav > .pw-subnav-list > .pw-subnav-item {
	position: relative;
}

#pw-nav-list .pw-subnav > .pw-subnav-list > .pw-subnav-item > .pw-subnav-link {
	color: inherit;
	display: block;
	padding: 14px 22px;
	text-decoration: none;
	transition: all 300ms ease-in-out;
}

#pw-nav-list .pw-subnav > .pw-subnav-list > .pw-subnav-item:hover > .pw-subnav-link {
	background-color: var(--subnav-color);
	border-radius: var(--nav-border-radius);
	font-style: italic;
}

#pw-nav-list .pw-subnav > .pw-subnav-list > .pw-subnav-item:has(.pw-subnav-inner):hover > .pw-subnav-link {
	border-radius: var(--nav-border-radius) var(--nav-border-radius) 0 0;
}

#pw-nav-list .pw-subnav .pw-subnav-inner {
	background-color: var(--subnav-color);
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 0 0 var(--nav-border-radius) var(--nav-border-radius);
}

#pw-nav-list .pw-subnav > .pw-subnav-list > .pw-subnav-item:hover > .pw-subnav-inner {
	display: flex;
}

#pw-nav-list .pw-subnav .pw-subnav-inner > .pw-subnav-inner-list {
	list-style: none;
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	padding: 0;
}

#pw-nav-list .pw-subnav .pw-subnav-inner > .pw-subnav-inner-list > .pw-subnav-inner-item {
	position: relative;	
}

#pw-nav-list .pw-subnav .pw-subnav-inner > .pw-subnav-inner-list > .pw-subnav-inner-item > .pw-subnav-inner-link {
	color: inherit;
	display: block;
	padding: 15px 23px;
	text-decoration: none;	
}

/* Main content */
#pw-main {
	margin-top: 0.2em;
	display: grid;
	width: 100vw;
	gap: 0.1em;

	grid-template-areas: 
		"header header header"
		"fw fw fw"
		"left left right"
		"footer footer footer";
}

#pw-main .pw-content-section {
	padding: 8px 13px;
}

#pw-main > #pw-main-header {
	grid-area: header;
}

#pw-main > #pw-main-content {
	grid-area: fw;
}

#pw-main > #pw-content {
	grid-area: left;
}

#pw-main > #pw-rail {
	grid-area: right;
}
/* Website footer */