@import "https://fonts.googleapis.com/css?family=Exo";

:root {
	/* Light theme */
	--bg-color__rgb: 210 210 235;
	--bg-color: rgb(var(--bg-color__rgb) / 1);
	--fg-color__rgb: 45 45 45;
	--fg-color: rgb(var(--fg-color__rgb) / 1);
	/* Dark theme */
	--bg-color-dark__rgb: 65 65 65;
	--bg-color-dark: rgb(var(--bg-color-dark__rgb) / 1);
	--fg-color-dark__rgb: 215 215 215;
	--fg-color-dark: rgb(var(--fg-color-dark__rgb) / 1);
	/* Default options */
	--font-family: Exo, Helvetica, Arial, sans-serif;
	--root-font-size: 12px;

	font-family: var(--font-family);
	font-size: var(--root-font-size);
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	margin: auto;
}

#pw-header {
	width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}

#pw-hero {
	min-height: 35px;
	display: flex;
	align-content: center;
}

#pw-heading {
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

#pw-nav {
	position: relative;
}

#pw-nav-list {
	list-style: none;
	flex-flow: row wrap;
	gap: 0.1em;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

#pw-nav-list > .pw-nav-item {
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}

#pw-nav-list > .pw-nav-item > .pw-nav-link {
	display: inline-block;
	padding: 16px 25px;
	text-decoration: none;
}