@import "https://fonts.googleapis.com/css?family=Exo";

:root {
	--root-font-family: Exo, Helvetica, Arial, sans-serif;
	--bg-color: rgb(156 156 156 / 1);
	--fg-color: rgb(43 43 43 / 1);
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: var(--root-font-family);
	margin: auto;
}

#pw-header {
	position: relative;
	left: 0;
	top: 0;
	width: 100vw;
}

#pw-header-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#pw-header-title {
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

#pw-header-title > a {
	color: inherit;
	display: inline-block;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 18px;
}

#pw-navigation-items {
	flex-direction: row;
	flex-flow: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

#pw-navigation-items > .pw-navigation-item > .pw-navigation-link {
	display: inline-block;
	color: inherit;
	padding: 16px 25px;
	text-decoration: none;
	text-transform: uppercase;
}